@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

.page-wrapper {
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
}

.nav-bar__container {
  position: absolute;
  z-index: 1;
  font-family: 'Secular One', sans-serif;
  background-color: #0E0E0E;
  border-radius: 25px;
  margin: 1rem;
  left: -248px;
}

.nav-bar-tab {
  position: absolute;
  z-index: 1;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  right: -20%;
  background-color: #262626;
  cursor: pointer;
  transition: ease-in .2s;
}

.nav-bar {
  padding: 2rem;
}

.link {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.link--styles {
  text-decoration: none;
  color: #7A7A7A;
  transition: ease-in .2s;
  font-size: 1.2rem;
}

.link--styles:hover {
  color: #2196F3;
  transition: ease-in .2s;
}

.nav-bar-tab:hover {
  background-color: lighten(#262626, 10);
  transition: ease-in .2s;
}